<!DOCTYPE html>
<html>
<head>
	<title>Welcome to Steno</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
		<div style="top:1%; position: absolute; left: 10px;"><a href=""><i class="fa fa-github" style="font-size: 3em;"></i></a></div>
		<div style="position: absolute; top: 2%; right: 10px;"><a href="">Give your Suggestions</a></div>

<div class="container">
	<h2 class="title">Steno</h2>
	<div style="position: relative;">
		<p style="text-align: center;padding:0 10% 0 10%;">Hello Everyone! Login via facebook to the website. We have also added a section for suggestions as we ran out of ideas. Feel free to send us your feedback and suggestions. Enjoy!</p>
	</div>

	<a href="/auth/facebook"><center><img style="width: 40%;" src="/images/login.png"></center></a>	
	
</div>
</body>
</html>