<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="../socket/socket.js"></script>
    <script>
      // anon function in this ($) context
      $(function(){

//        messages.on('connect', function(){
//          console.log('Connection to ' + userName + ' Established !!');
//          messages.emit('joinroom', {
//            room:roomNum,
//            user:userName,
//            userPic:userPic
//          });
//        });



        messages.on('messagefeed', function(data){
          var msgs = JSON.parse(data);
          updateMessageFeed(msgs);
        })

        function updateMessageFeed(message) {
          $('#msg').text(message);
        }

        })

//        messages.on('updateUsersList', function(data){
//          var userlist = JSON.parse(data);
//          $('.users').html('');
//          for(var n = 0; n < userlist.length; n++){
//            var str = '<li><img class="pic" src="' + userlist[n].userPic + '"><h5>' + userlist[n].user + '</h5></li>';
//            $(str).prependTo($('.users'));
//          }
//        })
//
//        setInterval(function(){
//          messages.emit('updateList', {room:roomNum});
//        }, 15 * 1000);
//      })
    </script>
</head>
<body>
<h2 class="title">Steno</h2>
<div id="main">
    <div id="platform">
        <div id="second">
            <div class="rm-messages">
                <ul class="messages">
                    <li>
                        <div class="msgbox">
                            <div><p id="msg"></p></div>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
        <div id="third">
            <div class="active-users">
                <div class="rm-users">
                    <ul class="users">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
