<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title><%- title %></title>

	<link rel="stylesheet" type="text/css" href="/public/css/style.css">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script>
		$(function() { 
			var host = '<%- config.host %>';
			var socket = io.connect(host + '/roomlist');
			socket.on('connect', function(){
				console.log('Connection Established!');
			})
			socket.on('roomupdate', function(data){
				var procData = JSON.parse(data);
				$('.roomlist').html('');
				for (var i = 0; i < procData.length; i++) {
					var str = '<a href="room/' + procData[i].room_number + '"><li>' + procData[i].room_name +'</li></a>';
					$('.roomlist').prepend(str);
				}
			})
			$(document).on('click', '#create', function() {
				var room_name = $('.newRoom').val();
				if(room_name != ''){
					var room_number = parseInt(Math.random() * 10000);
					socket.emit('newroom', {room_name:room_name, room_number:room_number});
					$('.newRoom').val('');
				}
			})
		})
	</script>
</head>
<body>
	<div class="logo"></div>

	<h2 class="title">LECTURE CONNECT</h2>

 <div id="main">
 	<br>
		<div id="navigation">

			<img src="../css/wl.svg" class="userPic">
			<h3 class="userName"><%- user.fullname %></h3>
			<a href="/user"><button class="nav">Home</button></a>
			<a href="/user/gethelp"><button class="nav">Lecture Room</button></a>
			<a href="/logout"><button class="nav">Logout</button></a>			
		</div>
		<br>
		<br>
		<br>
		
	<div id="platform">
		<p>
			Hello <%- user.fullname %>, Welcome to Lecture Connect.
		</p>
	</div>

</body>
</html>